<ion-header>
  <ion-navbar>
    <ion-title>
      Todo App
    </ion-title>
    <ion-buttons end>
      <button (click)="toogleReorder()" ion-button *ngIf="!reorderIsEnabled">
        Edit
      </button>
      <button (click)="toogleReorder()" ion-button *ngIf="reorderIsEnabled">
        Done
      </button>
      <button ion-button (click)="openTodoAlert()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [reorder]="reorderIsEnabled"
            (ionItemReorder)="ionItemReordered($event)">
    <ion-item-sliding *ngFor="let todo of todos">
      <ion-item class="txt">{{todo}}</ion-item>
      <ion-item-options side="right">
        <button color="danger" ion-button>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="goToArchivePage()">
      <ion-icon name="archive"></ion-icon>
    </button>
  </ion-fab>
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
</ion-content>
